<section class="fill">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <div class="card bg-light p-3 login-card">
          <div class="card-tittle">
            <h3 class="font-weight-bold text-center pt-3">Logowanie</h3>
          </div>
          <div class="card-body py-3">
          <!-- FORM -->
            <form action="">
              <!-- LOGIN -->
              <div class="form-group py-1">
                <div class="input-field d-flex">
                  <fa-icon [icon]="faUser" class="p-2 pe-4"></fa-icon>
                  <input class="flex-fill" type="text" placeholder="Login">
                </div>
              </div>
              <!-- PASSWORD -->
              <div class="form-group py-1">
                <div class="input-field d-flex">
                  <fa-icon [icon]="faLock" class="p-2 pe-4"></fa-icon>
                  <input class="flex-fill pe-5" [type]="type" placeholder="Password">
                  <span class="faEyeSlash p-2"><fa-icon (click) ="hideShowPassword()" [icon]="faEyeSlash" class="position-relative"></fa-icon></span>

                </div>
              </div>
              <!-- SUBMIT -->
              <button type="submit" class="btn btn-primary btn-block w-100 mt-4">Login <fa-icon [icon]="faArrowRightToBracket"></fa-icon></button>

              <hr class="my-4">

              <!-- CREATE ACCOUNT | FORGET PASSWORD -->
              <div class="form-inline text-center mt-2">
                <a href="" id="forget-password" >Zapomniałeś hasła?</a>
                <span class="mx-3 text-muted">|</span>
                <a href="/signup" id="create-account" routerlink="/signup">Załóż konto</a>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
